---
import Layout from '@/layouts/Layout.astro';
import HeaderPresentation from "@/components/presentation/header.tsx"
import FeaturePresentation from "@/components/presentation/feature.tsx"
import LogosPresentation from "@/components/presentation/logos.tsx"
import DevFreePresentation from "@/components/presentation/developerFree.tsx"
import PalettePresentationFree from "@/components/presentation/palette.tsx"
import CodePresentation from "@/components/presentation/code.tsx"
import FreeToProPresentation from "@/components/presentation/freeToPro.tsx"
import AstroPresentation from "@/components/presentation/astro.tsx"
import PagesFreePresentation from "@/components/presentation/pagesFree.tsx"
import GithubPresentation from "@/components/presentation/github.tsx"
import PricingPresentation from "@/components/presentation/pricing.tsx"
import FooterFreePresentation from "@/components/presentation/footerFree.tsx"

---

<Layout title="Página de presentación">
	<main>
    <HeaderPresentation client:only="react" />
    <FeaturePresentation client:only="react" />
    <LogosPresentation client:only="react" />
    <DevFreePresentation client:only="react" />
    <PalettePresentationFree client:only="react" />
    <CodePresentation client:only="react" />
    <FreeToProPresentation client:only="react" />
    <AstroPresentation client:only="react" />
    <PagesFreePresentation client:only="react" />
    <PricingPresentation client:only="react" />
    <GithubPresentation client:only="react" />
    <FooterFreePresentation client:only="react" />
  </main>
</Layout>