---
import Layout from '@/layouts/Layout.astro';
import 'assets/scss/astro-ecommerce.scss';
import Navbar from '@/components/navbar';
import ProductOverview from '@/components/products/productOverview';
---

<Layout title="Página del producto">
	<main>
    <Navbar  client:only="react" />
    <ProductOverview  client:only="react" />
  </main>

</Layout>