---
import Layout from '@/layouts/Layout.astro';
import Shoppings from '@/components/shoppings';
---

<Layout title="Carro de la compras">
	<main>
    <Shoppings client:only="react"/>
  </main>
</Layout>