---
import Layout from '@/layouts/Layout.astro';
import 'assets/scss/astro-ecommerce.scss';
import StoreShowcase from '@/components/store/storeShowcase';
import Navbar from '@/components/navbar';
---

<Layout title="Store Page">
	<main>
    <Navbar  client:only="react"/>
    <StoreShowcase client:only="react" />
  </main>

</Layout>